@{
    ViewData["Title"] = "Barber Shop Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Barber Shop</h1>
    <img src="~/img/main.png" alt="Barber Shop Logo" class="img-fluid" style="max-width: 400px;">
    <p>Barber shop'umuzun benzersiz deneyimini keşfedin, burada gelenek modernlikle buluşuyor ve size olağanüstü bir hizmet sunuyor.</p>
</div>