@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<link rel="stylesheet" href="~/css/privacy-policy.css" />

<h1>@ViewData["Title"]</h1>
<br>

<h3>Berber Dükkanı Gizlilik Kuralları</h3>
<br>

<h5>Dijital Kilit Kuralı</h5>
<p>Barber Shop'ta gizliliğinizi bir hazine olarak görüyoruz. Kişisel verilerinizi korumak için en son güvenlik önlemlerini kullanıyoruz ve sanki dijital bir kilit altındaymış gibi güvende olmalarını sağlıyoruz.</p>
<br>
<br>

<h5>La Regla de Confidencialidad Garantizada</h5>
<p>Nuestro compromiso es mantener tus datos en la más estricta confidencialidad. No los compartiremos, venderemos ni revelaremos a nadie sin tu consentimiento expreso. Tu información es tuya y solo tuya.</p>
<br>
<br>

<h5>La Regla del Acceso Controlado</h5>
<p>Solo personal autorizado de Barber Shop tiene acceso a tu información. Cada miembro de nuestro equipo está capacitado para tratar tus datos con el más alto nivel de profesionalismo y cuidado. Nos tomamos tu privacidad muy en serio.</p>

